bin/
obj/
out/

.vs/
*.user
*.suo
*.sdf
*.cache
*.dbmdl
*.dbproj.schemaview
*.pdb
*.v12.suo

*.dll
*.exe
*.app
*.apk
*.log

*.nupkg
packages/
project.lock.json
project.fragment.lock.json

project.assets.json
project.nuget.cache
*.csproj.nuget.g.props
*.csproj.nuget.g.targets

_ReSharper*/
*.DotSettings.user

.idea/

*.log
*.sql
*.sqlite

.DS_Store
Thumbs.db

docker-compose.override.yml
**/docker-data/
**/docker-volume/

TestResults/
*.coverage
*.coveragejson
*.trx

**/Migrations/*Snapshot.cs

secrets.json
*.userosscache
*.sln.docstates

*.vspscc
*.vssscc
*.orig
